body{
    text-align: center;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: large;
}
#cabecera{
    border-style: dotted;
    background-color: beige;
}